.container2 {
    width: 60%;
    border: 2px solid #ffa500;
    border-radius: 8px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 3.5em;
}
    
.container2 h2 {
    text-align: left;
    font-size: 35px;
    color: #1f1f1f;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ffa500; 
}

.product {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    border-bottom: 1px solid #ffa500;
    padding: 10px 0;
}

.product-details {
    display: flex;
    flex-direction: column;
    flex: 1; 
    margin-left: 10px;
}

.product img {
    width: 30%;
    height: 30%;
    border-radius: 8px;
    margin-right: 2em;
}
    
.product h5 {
    font-size: 120%;
    color: #292828;
    margin: 0;
    flex: 1;
    text-align: left;
}
    
.product p {
    margin: 0;
    margin-right: 20px;
    font-size: 14px;
    color: #333333;
    margin-right: 2em;
}
    
.product label {
    font-size: 95%;
    color: #333333;
    margin-top: 5px;
}
    
.product input[type="number"] {
    width: 50px;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    border-color: #ffa500;
}
    
.product:last-child {
    border-bottom: none;
}

.remove-button {

    color:#1f1f1f; 
    border-radius: 4px; 
    border: 1px solid #FFA500; /* Ajusta el color del borde */
    box-shadow: none; /* Elimina el sombreado */
    outline: none; /* Elimina el contorno que aparece al hacer clic */
    padding: 4px; /* Ajusta el espacio interno */
    border-radius: 4px; /* Redondea las esquinas si es necesario */
    background-color: white;
}

.remove-button:hover {
    background-color: darkorange; 
}
    
.empty-cart {
    text-align: center;
    font-size: 18px;
    color: #777;
    margin: 20px 0;
}
    
.subtotal {
    text-align: right;
    font-weight: bold;
    font-size: 95%;
    color: #333333;
    border-top: 1px solid #ffa500;
}

.total {
    text-align: right;
    margin-top: 18px;
    color: #333;
}
body.night-mode .container2{
    background-color: #c0c0c0;
    color:#1f1f1f;
}

@media (max-width: 768px) {
    .product {
        flex-wrap: wrap;
    }

    .product-details div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .remove-button {
        margin-top: 8px;
        width: 100%;
    }
}
.lineaGruesa{   
     border: none; /* Elimina el estilo predeterminado */
    border-top: 3px solid orange ; /* Cambia el color y grosor */
    margin: 20px 0; /* Ajusta el espacio alrededor de la línea */

}
hr{
    border: none; /* Elimina el estilo predeterminado */
    border-top: 2px solid orange; /* Cambia el color y grosor  */
    margin: 20px 0; /* Ajusta el espacio alrededor de la línea */
}
.button-container {
    display: flex;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    margin-top: 20px;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    text-align: right; /* Opcional, pero no afecta */
}

.button {

    border-color: #ffa500;  
    border-radius: 4px; 
    margin: 10px; 
    cursor: pointer; 
    font-size: 15px; 
    transition: background-color 0.3s; 
    border-width: 1px;
    height: 40px;
    box-shadow: none; /* Elimina el sombreado */
    outline: none; /* Elimina el contorno que aparece al hacer clic */
    grid-column: span 2; 
    justify-self: end;
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 150px;
}

.button:hover {
    background-color: darkorange; 
}
    
ul {
    list-style: none;
    padding: 0;
    margin: 42;
}
li {
    margin-left: 15px;
}

input[type="text"] {
    margin-left: 15px;
    margin-bottom: 9px;
    box-shadow: none; /* Elimina el sombreado */
    outline: none; /* Elimina el contorno que aparece al hacer clic */
    border-radius: 4px; /* Redondea las esquinas si es necesario */
    padding: 10px;
    border: 1px solid orange; /* Borde naranja en modo claro */
    border-radius: 5px;
    outline: none;
    width: 400px;
    height: 30px;
}

 .pantalla {
    display: none;
}

.pantalla.visible {
    display: block;
} 
.pcostos{
    text-align: right;
}
.ptotal{
    text-align: right;
    font-size: x-large;
    font-weight: bold;
}

